Tropical.Infrastructure/Service References/ControleAcesso/ControleAcesso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChecaPermissaoPorFuncionalidade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idLdap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="funcionalidadeSigla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagemDeErroParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChecaPermissaoPorFuncionalidadeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChecaPermissaoPorFuncionalidadeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagemDeErroParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ChecaPermissaoPorFuncionalidadeSoapIn">
    <wsdl:part name="parameters" element="tns:ChecaPermissaoPorFuncionalidade" />
  </wsdl:message>
  <wsdl:message name="ChecaPermissaoPorFuncionalidadeSoapOut">
    <wsdl:part name="parameters" element="tns:ChecaPermissaoPorFuncionalidadeResponse" />
  </wsdl:message>
  <wsdl:portType name="ControleAcessoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChecaPermissaoPorFuncionalidade">
      <wsdl:input message="tns:ChecaPermissaoPorFuncionalidadeSoapIn" />
      <wsdl:output message="tns:ChecaPermissaoPorFuncionalidadeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControleAcessoSoap" type="tns:ControleAcessoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChecaPermissaoPorFuncionalidade">
      <soap:operation soapAction="http://tempuri.org/ChecaPermissaoPorFuncionalidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ControleAcessoSoap12" type="tns:ControleAcessoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChecaPermissaoPorFuncionalidade">
      <soap12:operation soapAction="http://tempuri.org/ChecaPermissaoPorFuncionalidade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControleAcesso">
    <wsdl:port name="ControleAcessoSoap" binding="tns:ControleAcessoSoap">
      <soap:address location="http://srv-appdesenv-1/WSControleAcesso/ControleAcesso.asmx" />
    </wsdl:port>
    <wsdl:port name="ControleAcessoSoap12" binding="tns:ControleAcessoSoap12">
      <soap12:address location="http://srv-appdesenv-1/WSControleAcesso/ControleAcesso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>